<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no"
        />
        <title>imikuLive - 播你想播的~</title>
        <link
            href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.staticfile.org/cropperjs/1.5.12/cropper.min.css"
            rel="stylesheet"
        />
        <script src="../static/js/url.js" th:src="@{/js/url.js}"></script>
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/identicon.js/2.3.3/identicon.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
        <script src="../static/js/avatar.js" th:src="@{/js/avatar.js}"></script>
        <script
            src="../static/js/homepage.js"
            th:src="@{/js/homepage.js}"
        ></script>
        <link
            href="../static/css/index.css"
            th:href="@{/css/index.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/homepage.css"
            th:href="@{/css/homepage.css}"
            rel="stylesheet"
        />
    </head>
    <body onload="ifg(initReqRooms)">
        <div
            id="bg"
            style="background-image: url('../static/img/bgb.jpg')"
            th:style="'background-image: url('+'/img/bgb.jpg'+')'"
        >
            <div id="head">
                <svg
                    viewBox="0 0 16 16"
                    id="zd-btn"
                    width="16"
                    height="16"
                    onclick="mofold()"
                >
                    <path
                        fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                    />
                </svg>
                <img
                    src="../static/img/logo.png"
                    th:src="'/img/logo.png'"
                    alt="logo"
                    id="logo"
                    onclick="toIndex()"
                />
                <div class="head-sc" id="scd">
                    <input
                        class="head-sr"
                        type="text"
                        id="head-sr"
                        onkeydown="if(event.keyCode==13){search()}"
                        placeholder="搜点什么~"
                    />
                    <svg
                        viewBox="0 0 16 16"
                        class="bi scsvg"
                        width="16"
                        height="16"
                        onclick="search()"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                    </svg>
                </div>
                <div class="head-acc">
                    <div id="login-btn" onclick="toLogin()">
                        <svg
                            viewBox="0 0 24 24"
                            class="lgsvg"
                            width="24"
                            height="24"
                        >
                            <path
                                d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M12,3c4.96,0,9,4.04,9,9 c0,1.42-0.34,2.76-0.93,3.96c-1.53-1.72-3.98-2.89-7.38-3.03C14.57,12.6,16,10.97,16,9c0-2.21-1.79-4-4-4C9.79,5,8,6.79,8,9 c0,1.97,1.43,3.6,3.31,3.93c-3.4,0.14-5.85,1.31-7.38,3.03C3.34,14.76,3,13.42,3,12C3,7.04,7.04,3,12,3z M9,9c0-1.65,1.35-3,3-3 s3,1.35,3,3c0,1.65-1.35,3-3,3S9,10.65,9,9z M12,21c-3.16,0-5.94-1.64-7.55-4.12C6.01,14.93,8.61,13.9,12,13.9 c3.39,0,5.99,1.03,7.55,2.98C17.94,19.36,15.16,21,12,21z"
                                class="style-scope yt-icon"
                            ></path>
                        </svg>
                        <t id="login-btn-t">登录</t>
                    </div>
                    <div id="logged-sw">
                        <div
                            id="logged-sw-ic"
                            data-container="#logged-sw-ic"
                            data-toggle="popover"
                            data-placement="bottom"
                            onmouseover="opsw(1)"
                            onmouseout="opsw(-1)"
                        >
                            <img class="ava ava-s" id="logged-sw-i" />
                            <div id="logged-sw-op">
                                <hr />
                                <div class="nic" id="op-nick">nickname</div>
                                <hr />
                                <div class="op-ele" onclick="toSelf()">
                                    <svg
                                        class="op-svg bi bi-mailbox2"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                    >
                                        <path
                                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                                        />
                                    </svg>
                                    <tbb>个人中心</tbb>
                                </div>
                                <div class="op-ele" onclick="toMR()">
                                    <svg
                                        class="op-svg bi bi-mailbox2"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                    >
                                        <path
                                            d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"
                                        />
                                    </svg>
                                    <tbb>直播中心</tbb>
                                </div>
                                <div
                                    class="op-ele"
                                    id="op-logout"
                                    onclick="logout()"
                                >
                                    <svg
                                        class="op-svg bi bi-mailbox2"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"
                                        />
                                    </svg>
                                    <tbb>退出登录</tbb>
                                </div>
                            </div>
                        </div>
                        <t class="nic" id="logged-sw-t">nickname</t>
                    </div>
                </div>
                <div class="head-sc" id="head-xy-sc">
                    <input
                        class="head-sr"
                        id="head-sr"
                        type="text"
                        onkeydown="if(event.keyCode==13){search()}"
                        placeholder="搜点什么~"
                    />
                    <svg
                        viewBox="0 0 16 16"
                        class="bi scsvg"
                        width="16"
                        height="16"
                        onclick="search()"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                    </svg>
                </div>
                <div id="head-xy-ac">
                    <div id="xy-ac-cd">
                        <img class="ava" id="xy-ac-cd-i" />
                        <t class="nic" id="xy-ac-cd-t">nickname</t>
                        <hr />
                        <div class="op-ele" onclick="toSelf()">
                            <svg
                                class="op-svg bi bi-mailbox2"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16"
                                width="16"
                                height="16"
                            >
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                                />
                            </svg>
                            <tbb>个人中心</tbb>
                        </div>
                        <div class="op-ele" onclick="toMR()">
                            <svg
                                class="op-svg bi bi-mailbox2"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16"
                                width="16"
                                height="16"
                            >
                                <path
                                    d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"
                                />
                            </svg>
                            <tbb>直播中心</tbb>
                        </div>
                        <div class="op-ele" id="op-logout" onclick="logout()">
                            <svg
                                class="op-svg bi bi-mailbox2"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16"
                                width="16"
                                height="16"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"
                                />
                            </svg>
                            <tbb>退出登录</tbb>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ct">
                <div class="video-ct" id="open-ct">
                    <div class="video-ct-h">
                        <hr class="ct-h-hr" />
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#3ba8ab"
                            class="video-ct-svg bi bi-play-circle"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                            <path
                                d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
                            />
                        </svg>
                        直播中
                        <hr />
                        <div class="ct-count">
                            <c id="open-count">0</c>
                            个房间
                        </div>
                    </div>
                    <div class="video-ct-l" id="video-ct-l-open"></div>
                    <div
                        class="ct-more"
                        id="ct-more-open"
                        onclick="getMoreOpen()"
                    >
                        加载更多
                    </div>
                </div>
                <div class="video-ct" id="close-ct">
                    <div class="video-ct-h">
                        <hr class="ct-h-hr" />
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="video-ct-svg bi bi-stop-circle"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                            <path
                                d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3z"
                            />
                        </svg>
                        休息中
                        <hr />
                        <div class="ct-count">
                            <c id="close-count">0</c>
                            个房间
                        </div>
                    </div>
                    <div class="video-ct-l" id="video-ct-l-close"></div>
                    <div
                        class="ct-more"
                        id="ct-more-close"
                        onclick="getMoreClose()"
                    >
                        加载更多
                    </div>
                </div>
            </div>
            <div id="sload">
                <div>站点负载</div>
                <div style="display: block">
                    <div class="load-bar" id="cpu-bar">
                        <div class="bar-t">计算</div>
                        <div style="display: block">
                            <hr class="bar-b" id="cpu-b" />
                        </div>
                        <div class="bar-v" id="cpu-v">0 %</div>
                    </div>
                    <div class="load-bar" id="cpu-bar">
                        <div class="bar-t">网络</div>
                        <div style="display: block">
                            <hr class="bar-b" id="net-b" />
                        </div>
                        <div class="bar-v" id="net-v">0 %</div>
                    </div>
                </div>
                <div style="display: block">
                    <div class="index-terms" onclick="toTerms()">使用条款</div>
                </div>
            </div>
        </div>
    </body>
</html>
