body {
    margin: 0;
    overflow: hidden;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
data {
    display: none;
}
#bg {
    margin: 0;
    height: 120%;
    width: 100%;
    position: absolute;
    background-position: center, center;
    background-size: cover;
    overflow: hidden;
    z-index: -100;
}
#head {
    height: 60px;
    width: 100%;
    background-color: #1e1e1e;
}
.lgsvg {
    width: 30px;
    height: 30px;
    fill: #3ba8ab;
    transform: translateY(-3px);
}
#logo {
    height: 28px;
    margin: 16px 64px 16px 64px;
}
#logo:hover {
    cursor: pointer;
}
.head-acc {
    position: absolute;
    right: 86px;
    top: 12px;
}
#login-btn {
    color: #3ba8ab;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #3ba8ab;
    padding: 5px;
    width: 86px;
    height: 36px;
    transform: translateX(20px);
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
#login-btn:hover {
    cursor: pointer;
}
#login-btn:active {
    background-color: #3ba8ab;
}
#login-btn-t {
    color: #3ba8ab;
    position: absolute;
    transform: translate(6px, 1px);
}
#logged-sw {
    color: aliceblue;
    font-size: 16px;
    padding: 5px;
    width: 130px;
    height: 24px;
    display: none;
}
#logged-sw:hover {
    cursor: pointer;
}
#logged-sw-t {
    position: absolute;
    white-space: nowrap;
    transform: translate(44px, 3px);
    width: 120px;
    overflow-x: scroll;
}
#logged-sw-t::-webkit-scrollbar {
    height: 2px;
    border-radius: 3px;
}
#logged-sw-t::-webkit-scrollbar-thumb {
    background: aliceblue;
}
#logged-sw-t::-webkit-scrollbar-track {
    background: transparent;
}
#logged-sw-ic {
    position: absolute;
    transform: translateY(-2px);
    width: 30px;
    display: inline;
}
.ava {
    border-radius: 50%;
    overflow: hidden;
}
.ava-s {
    width: 30px;
    height: 30px;
    position: absolute;
}
.ava-b {
    border-radius: 50%;
    overflow: hidden;
    width: 330px;
    height: 330px;
    border-style: double;
    border-color: #000;
    border-width: 3px;
}
#logged-sw-op {
    position: absolute;
    color: aliceblue;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 40px 0 0 0;
    border-width: 0;
    width: 260px;
    top: 34px !important;
    position: relative;
    z-index: -1;
    height: 264px;
    text-align: center;
    transform: translate(-115px, 11px);
    cursor: auto;
    overflow: hidden;
    display: none;
}
#logged-sw-ic > .popover:hover {
    cursor: auto;
}
hr {
    margin: 0;
}
.op-ele {
    color: aliceblue;
    background-color: #1e1e1e;
    font-size: 14px;
    padding: 10px 0 10px 0;
    height: 50px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.op-ele:hover {
    background-color: #303030;
    cursor: pointer;
}
#op-nick {
    margin: 25px 0 25px 0;
    font-size: 16px;
    font-weight: bolder;
    border-style: none;
}
#op-logout {
    background-color: #505050;
}
#op-logout:hover {
    background-color: #000;
    cursor: pointer;
}
tbb {
    position: absolute;
    transform: translate(-36px, 5px);
}
.op-svg {
    width: 20px;
    height: 20px;
    fill: #f07d58;
    transform: translate(-96px, 4px);
}
.head-sc {
    width: auto;
    position: absolute;
    display: inline;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #3ba8ab;
    top: 12px;
    fill: #3ba8ab;
    -webkit-transition: fill 0.3s, border-color 0.3s;
    -moz-transition: fill 0.3s, border-color 0.3s;
    -ms-transition: fill 0.3s, border-color 0.3s;
    -o-transition: fill 0.3s, border-color 0.3s;
    transition: fill 0.3s, border-color 0.3s;
}
.head-sc:focus-within {
    border-color: #f07d58;
    fill: #f07d58;
}
.head-sc:hover {
    border-color: #f07d58;
    fill: #f07d58;
}
.scsvg {
    margin: 0 6px -4px 0;
    width: 20px;
    height: 20px;
}
.scsvg:hover {
    cursor: pointer;
}
.head-sr {
    background-color: transparent;
    width: min(260px, calc(100vw - 570px));
    height: 32px;
    border-style: none;
    font-size: 16px;
    font-weight: 350;
    color: aliceblue;
    letter-spacing: 1px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.head-sr:focus {
    width: calc(100vw - 570px);
    outline: none;
}
#head-xy-sc {
    display: none;
}
#zd-btn {
    display: none;
}
#head-xy-ac {
    display: none;
}
@media screen and (max-width: 768px) {
    #scd {
        display: none;
    }
    #logo {
        margin: 0;
        height: 28px;
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
    #login-btn {
        border: 0;
        width: 44px;
        transform: translate(63px, -5px);
    }
    #login-btn > svg {
        width: 40px;
        height: 40px;
    }
    #login-btn-t {
        display: none;
    }
    #logged-sw {
        display: none !important;
    }
    .head-sc {
        padding: 5px 10px 5px 16px;
        background-color: #1e1e1e;
        width: 100%;
        left: 0;
        top: 60px;
    }
    .head-sr {
        width: calc(100vw - 76px);
    }
    .head-sr:focus {
        width: calc(100vw - 76px);
        outline: none;
    }
    #zd-btn {
        display: inline;
        position: absolute;
        fill: #3ba8ab;
        width: 40px;
        height: 40px;
        left: 20px;
        top: 10px;
    }
    #zd-btn:hover {
        cursor: pointer;
    }
    #head-xy-sc {
        padding-left: 22px;
        display: none;
    }
    #head-xy-ac {
        display: none;
        background-color: #1e1e1e;
        width: 100%;
        transform: translateY(104px);
        padding: 15px 15px 15px 15px;
    }
    #xy-ac-cd {
        background-color: #1e1e1e;
        width: 100%;
    }
    #xy-ac-cd-i {
        margin: 0 15px 15px 0;
        margin-right: 15px;
        width: 60px;
        height: 60px;
    }
    #xy-ac-cd-t {
        color: aliceblue;
        font-weight: bolder;
        font-size: 20px;
        position: absolute;
        transform: translateY(15px);
    }
    .op-ele {
        padding-left: 115px;
    }
    .op-svg {
        margin-right: calc(50vw - 140px);
    }
    tbb {
        font-size: 14px;
    }
}
