#abg {
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    white-space: nowrap;
    text-align: center;
    z-index: -1;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}
.mbg {
    position: relative;
    display: inline-block;
    background-color: #1e1e1e;
    width: max(904px, 52vw);
    height: max(683px, calc(29.25vw + 180px));
    top: min(
        max(20px, calc((100vh - 60px - max(683px, calc(29.25vw + 180px))) / 2)),
        calc(100vh - 100px)
    );
    margin: 20px;
    margin-top: 0;
    border-radius: 25px;
}
#dbg {
    position: relative;
    width: max(330px, 20vw);
    margin-left: -5px;
}
#dplayer {
    position: absolute;
    top: 88px;
    width: max(904px, 52vw);
    height: max(508px, 29.25vw);
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #3ba8ab;
}
#dc {
    position: absolute;
    background-color: #303030;
    top: 88px;
    width: max(330px, 20vw);
    height: max(508px, 29.25vw);
    padding: 5px;
    overflow-y: auto;
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #f07d58;
}
#roomn {
    position: absolute;
    color: aliceblue;
    font-size: 22px;
    top: 30px;
    right: 30px;
}
#uavatar {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 15px;
    left: 30px;
}
#unick {
    position: absolute;
    color: #fae3b0;
    font-size: 16px;
    top: 35px;
    left: 120px;
    width: 15vw;
    overflow-x: auto;
    text-align: left;
}
.touser:hover {
    cursor: pointer;
}
#intron {
    position: absolute;
    color: #fae3b0;
    font-size: 20px;
    bottom: 33px;
    left: 30px;
}
#introt {
    position: absolute;
    color: aliceblue;
    font-size: 16px;
    bottom: 15px;
    left: 100px;
    height: 60px;
    overflow-y: auto;
    width: 30vw;
    text-align: left;
    display: flex;
    align-items: center;
}
#openst {
    position: absolute;
    background-position: center, center;
    background-size: auto;
    top: 88px;
    width: max(904px, 52vw);
    height: max(508px, 29.25vw);
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #3ba8ab;
    filter: blur(16px);
}
#openstxt {
    position: absolute;
    top: 88px;
    width: max(904px, 52vw);
    height: max(508px, 29.25vw);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: xx-large;
}
#openstimg {
    display: inline;
    position: absolute;
    width: 400px;
    height: 320px;
    bottom: 34px;
    right: 40px;
}
#dbg-c {
    font-size: 16px;
    display: inline;
    position: absolute;
    color: aliceblue;
    left: 30px;
    top: 36px;
}
#current-n {
    display: inline;
    color: #fae3b0;
}
#danmaku-i {
    display: inline;
    position: absolute;
    height: 30px;
    width: max(330px, 20vw);
    padding: 0 10px 0 10px;
    left: 0;
    bottom: 58px;
    overflow-x: scroll;
    background-color: transparent;
    color: aliceblue;
    border-width: 0;
    border-color: #f07d58;
}
#danmaku-i:disabled {
    cursor: not-allowed;
}
#danmaku-s {
    display: inline;
    position: absolute;
    height: 36px;
    width: max(330px, 20vw);
    bottom: 22px;
    left: 0;
    border-image: linear-gradient(
        to right,
        transparent,
        #3ba8ab 50%,
        transparent
    );
    background-image: linear-gradient(
        to right,
        transparent,
        #303030 50%,
        transparent
    );
    color: aliceblue;
    font-size: 14px;
    border-style: solid none solid none;
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#danmaku-s:hover {
    cursor: pointer;
    border-image: linear-gradient(
        to right,
        #3ba8ab 50%,
        transparent,
        #3ba8ab 50%
    );
    border-style: solid none solid none;
    border-image-slice: 1;
}
