#abg {
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    white-space: nowrap;
    text-align: center;
    z-index: -1;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}
.mbg {
    position: relative;
    display: inline-block;
    background-color: #1e1e1e;
    width: max(904px, 52vw);
    height: max(683px, calc(29.25vw + 180px));
    top: min(
        max(20px, calc((100vh - 60px - max(683px, calc(29.25vw + 180px))) / 2)),
        calc(100vh - 100px)
    );
    margin: 20px;
    margin-top: 0;
    border-radius: 25px;
    white-space: initial;
}
#dbg {
    position: relative;
    width: max(330px, 20vw);
    margin-left: -5px;
}
#dplayer {
    position: absolute;
    top: 88px;
    width: max(904px, 52vw);
    height: max(508px, 29.25vw);
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #3ba8ab;
}
#dc {
    position: absolute;
    background-color: #303030;
    top: 88px;
    width: max(330px, 20vw);
    height: max(508px, 29.25vw);
    padding: 10px 0 10px 0;
    overflow-y: auto;
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #f07d58;
}
#roomn {
    position: absolute;
    color: aliceblue;
    font-size: 22px;
    top: 30px;
    right: 30px;
}
#uavatar {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 15px;
    left: 30px;
}
#unick {
    position: absolute;
    color: #fae3b0;
    font-size: 16px;
    top: 35px;
    left: 100px;
    width: 15vw;
    overflow-x: auto;
    text-align: left;
}
.touser:hover {
    cursor: pointer;
}
#intron {
    position: absolute;
    color: #fae3b0;
    font-size: 20px;
    bottom: 33px;
    left: 30px;
}
#introt {
    position: absolute;
    color: aliceblue;
    font-size: 16px;
    bottom: 15px;
    left: 100px;
    height: 60px;
    overflow-y: auto;
    width: 30vw;
    text-align: left;
    display: flex;
    align-items: center;
}
#openst {
    position: absolute;
    background-position: center, center;
    background-size: cover;
    top: 88px;
    width: max(904px, 52vw);
    height: max(508px, 29.25vw);
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #3ba8ab;
    filter: blur(16px);
}
#openstxt {
    position: absolute;
    top: 88px;
    width: max(904px, 52vw);
    height: max(508px, 29.25vw);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: xx-large;
    -webkit-text-stroke: 1px #1e1e1e;
}
#openstimg {
    display: inline;
    position: absolute;
    width: 400px;
    height: 410px;
    bottom: 34px;
    right: 40px;
}
#dbg-c {
    font-size: 16px;
    display: inline;
    position: absolute;
    color: aliceblue;
    left: 30px;
    top: 36px;
}
#current-n {
    display: inline;
    color: #fae3b0;
}
#danmaku-i {
    display: inline;
    position: absolute;
    height: 60px;
    width: max(270px, 20vw - 60px);
    padding: 0 10px 0 10px;
    left: 0;
    top: max(596px, 29.25vw + 88px);
    overflow-x: scroll;
    background-color: transparent;
    color: aliceblue;
}
#danmaku-i:disabled {
    cursor: not-allowed;
}
#danmaku-s {
    display: inline;
    position: absolute;
    height: 60px;
    width: 60px;
    top: max(596px, 29.25vw + 88px);
    right: 0;
    border-image: linear-gradient(
        to right,
        transparent,
        #f07d58 50%,
        transparent
    );
    background-color: #f07d58;
    color: aliceblue;
    font-size: 14px;
    border-style: solid none solid none;
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#danmaku-s:hover {
    cursor: pointer;
    border-image: linear-gradient(
        to right,
        #3ba8ab 50%,
        transparent,
        #3ba8ab 50%
    );
    border-style: solid none solid none;
    border-image-slice: 1;
}
label {
    display: inline;
}
.dplayer-danmaku .dplayer-danmaku-top,
.dplayer-danmaku .dplayer-danmaku-bottom {
    left: 0;
    width: 100%;
}
.dplayer-danmaku {
    font-size: 20px;
}
.dplayer-danmaku .dplayer-danmaku-item {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.dc-c {
    text-align: left;
    margin-bottom: 5px;
}
.dc-cn {
    color: #fae3b0;
    margin: 0 15px 0 15px;
}
.dc-cn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #f07d58;
}
.dc-ct {
    margin: 0 15px 0 30px;
    color: antiquewhite;
}
#dbg-logo {
    position: absolute;
    top: 0px;
    left: 150px;
    height: 20px;
}
#mbg-logo {
    position: absolute;
    bottom: 35px;
    right: 30px;
    height: 24px;
}
@media screen and (max-width: 768px) {
    .mbg {
        background-color: rgba(0, 0, 0, 0.85);
        width: 100%;
        height: calc(56.25vw + 180px);
        top: 0;
        margin: 0;
        border-radius: 0;
    }
    #dplayer {
        top: 0;
        width: 100%;
        height: 56.25vw;
        border-width: 0 0 2px 0;
    }
    #roomn {
        height: 36px;
        margin-top: 10px;
        width: 100vw;
        top: 56.25vw;
        white-space: nowrap;
        overflow-x: auto;
        right: 0;
        padding-left: 30px;
        text-align: left;
    }
    #uavatar {
        width: 40px;
        height: 40px;
        top: calc(56.25vw + 58px);
        left: 30px;
    }
    #unick {
        top: calc(56.25vw + 68px);
        width: 30vw;
        text-decoration: underline;
    }
    #introt {
        width: 70vw;
    }
    #dbg {
        position: absolute;
        width: 100%;
        height: calc(100vh - 56.25vw - 240px);
        margin-left: 0;
        top: calc(56.25vw + 180px);
        left: 0;
    }
    #dbg-c {
        left: unset;
        right: 30px;
        top: -112px;
    }
    #dc {
        top: 30px;
        width: 100%;
        height: calc(100vh - 56.25vw - 270px);
        padding: 5px;
        overflow-y: auto;
        border-style: solid;
        border-width: 2px 0 2px 0;
        border-color: #f07d58;
    }
    #danmaku-i {
        height: 30px;
        width: 85vw;
        bottom: unset;
        top: -2px;
        border-width: 2px 0 0 0;
        border-color: #3ba8ab;
    }
    #danmaku-s {
        height: 32px;
        width: 15vw;
        bottom: unset;
        top: -2px;
        left: 85vw;
    }
    #openst {
        top: 0;
        width: 100%;
        height: 56.25vw;
        border-width: 0 0 2px 0;
    }
    #openstxt {
        top: 0;
        width: 100%;
        height: 56.25vw;
        font-size: x-large;
    }
    #openstimg {
        width: 200px;
        height: 205px;
        bottom: unset;
        right: 0;
        top: calc(56.25vw - 180px);
    }
    #abg {
        overflow: hidden;
    }
    #dbg-logo {
        display: none;
    }
    #mbg-logo {
        display: none;
    }
}
