<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no"
        />
        <title>Not Found - imikuLive</title>
        <link
            href="../../static/css/login.css"
            th:href="@{/css/login.css}"
            rel="stylesheet"
        />
    </head>
    <body style="margin: 0">
        <div
            class="bg"
            style="background-image: url('../../static/img/bg.jpg')"
            th:style="'background-image: url('+'/img/bg.jpg'+')'"
        >
            <div
                id="succ"
                style="background-image: url('../../static/img/succ.png')"
                th:style="'background-image: url('+'/img/succ.png'+')'"
            ></div>
            <div
                class="lgbg"
                style="background-image: url('../../static/img/loginbg2.png')"
                th:style="'background-image: url('+'/img/loginbg2.png'+')'"
            >
                <div class="input" style="width: 80%">
                    <b style="color: #3ba8ab" class="mo-tc"
                        >&ensp;imiku<b style="color: #f07d58">Live&ensp;</b></b
                    >
                    <div>
                        <div id="ts" style="font-size: 10vw; color: #3ba8ab">
                            404
                        </div>
                        <br />
                        <div id="tx" style="font-size: 6vw; color: #f07d58">
                            Not Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
