body {
    margin: 0;
    overflow: hidden;
}
#bg {
    margin: 0;
    height: 120%;
    width: 100%;
    position: absolute;
    background-position: center, center;
    background-size: cover;
    overflow: hidden;
}
#head {
    height: 60px;
    width: 100%;
    background-color: #1e1e1e;
    /* border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #f07d58 #fff #3ba8ab #fff;
    backdrop-filter: blur(40px); */
}
.lgsvg {
    width: 30px;
    height: 30px;
    fill: #3ba8ab;
    transform: translateY(-3px);
}
#logo {
    height: 28px;
    margin: 16px 64px 16px 64px;
}
#logo:hover {
    cursor: pointer;
}
.head-acc {
    position: absolute;
    right: 86px;
    top: 12px;
}
#login-btn {
    color: #3ba8ab;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #3ba8ab;
    padding: 5px;
    width: 76px;
    height: 24px;
    transform: translateX(28px);
    display: none;
}
#login-btn:hover {
    cursor: pointer;
}
#login-btn:active {
    background-color: #3ba8ab;
}
#login-btn-t {
    position: absolute;
    transform: translate(6px, 1px);
}
#logged-sw {
    color: aliceblue;
    font-size: 16px;
    padding: 5px;
    width: 130px;
    height: 24px;
    /* display: none; */
}
#logged-sw:hover {
    cursor: pointer;
}
#logged-sw-t {
    position: absolute;
    white-space: nowrap;
    transform: translate(14px, 3px);
    width: 120px;
    overflow-x: scroll;
}
#logged-sw-t::-webkit-scrollbar {
    height: 2px;
    border-radius: 3px;
}
#logged-sw-t::-webkit-scrollbar-thumb {
    background: aliceblue;
}
#logged-sw-t::-webkit-scrollbar-track {
    background: transparent;
}
.ava {
    border-radius: 50%;
    overflow: hidden;
}
.ava-s {
    width: 30px;
    height: 30px;
}
.ava-b {
    width: 330px;
    height: 330px;
}
