body {
    overflow: hidden;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center, center;
    background-size: cover;
}
.lgbg {
    height: 520px;
    width: 100%;
    position: absolute;
    top: 10%;
    background-position: left, center;
    background-size: cover;
}
input {
    background-color: transparent;
    width: 310px;
    height: 54px;
    border-style: dashed solid solid solid;
    border-width: 4px 0 4px 0;
    border-color: #f07d58 #f07d58 #3ba8ab #f07d58;
    font-size: 20px;
    font-weight: 350;
    color: aliceblue;
    margin: 40px 0 40px 0;
    letter-spacing: 4px;
}
input:focus {
    background-color: rgba(0, 0, 0, 0.6);
    outline: none;
}
.input {
    position: absolute;
    left: 360px;
    top: 40px;
    width: 360px;
}
.passsvg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    fill: #3ba8ab;
    transform: translateY(17%);
}
.mailsvg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    fill: #f07d58;
    transform: translateY(17%);
}
.regsvg {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    fill: #f07d58;
    cursor: pointer;
}
.sigsvg {
    width: 60px;
    height: 30px;
    fill: #3ba8ab;
    transform: scale(3.5, 1.2);
    cursor: pointer;
}
.refsvg {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    fill: #3ba8ab;
    transform: translateY(17%);
    display: none;
}
.refsvg:hover {
    cursor: pointer;
}
.reg {
    width: 60px;
    margin-right: 20px;
    display: inline;
}
.tip {
    font-size: large;
    color: #3ba8ab;
    visibility: hidden;
}
.sign {
    margin-left: 40px;
    display: inline;
}
.fail {
    height: 37%;
    width: 100%;
    position: relative;
    top: 100%;
    background-position: center, center;
    background-size: cover;
}
#fail-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: aliceblue;
    letter-spacing: 4px;
}
.forg {
    height: 37%;
    width: 100%;
    position: relative;
    top: -74%;
    background-position: center, center;
    background-size: cover;
}
#forg-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: aliceblue;
    letter-spacing: 4px;
}
#succ {
    height: 53%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: -100%;
    background-position: left, center;
    background-size: cover;
}
#tk {
    position: absolute;
    display: inline;
    top: 95%;
    left: 2%;
    color: aliceblue;
}
#tk:hover {
    cursor: pointer;
    color: #f07d58;
    text-decoration: underline;
}
.figm {
    font-size: x-large;
    width: 320px;
    height: 54px;
}
#ts {
    margin-right: 70px;
    display: inline;
    transform: translateY(-50%);
    font-size: 40px;
    color: #3ba8ab;
}
#mes {
    font-size: medium;
    color: #ff0000;
    margin-top: -16px;
    margin-left: 40px;
}
.mo-t {
    position: absolute;
    font-size: 40px;
    top: -12%;
    margin-bottom: 20px;
    letter-spacing: 8px;
    font-weight: 1000;
    display: none;
}
.mo-tc {
    display: none;
    width: 230px;
    border-color: #3ba8ab;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 30px;
    font-size: 40px;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loadsvg {
    position: absolute;
    top: 44%;
    left: 77%;
    width: 50px;
    height: 50px;
    fill: #3ba8ab;
    animation: rotation 0.8s ease-in-out infinite;
    -moz-animation: rotation 0.8s ease-in-out infinite;
    -webkit-animation: rotation 0.8s ease-in-out infinite;
    -o-animation: rotation 0.8s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
    .lgbg {
        top: 0;
        background-image: none !important;
        backdrop-filter: blur(20px);
        height: 400px;
    }
    .input {
        top: 60px;
        left: calc((100vw - 360px) / 2);
    }
    .mo-t {
        display: inline;
    }
    .mo-tc {
        display: block;
    }
}
