<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>imikuLive - 服务条款</title>
        <link
            href="../static/css/terms.css"
            th:href="@{/css/terms.css}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div
            class="bg"
            style="background-image: url('../static/img/bg.jpg')"
            th:style="'background-image: url('+'/img/bg.jpg'+')'"
        >
            <div class="title"><a class="cy">imikuLive</a> 服务条款</div>
            <div class="cont">
                <hr>
                <p><h2>
                    <a class="cy">imikuLive</a> 是使用 AGPLv3 协议开源的流媒体直播网站
                </h2>
                <h2>
                    项目地址： <a class="cy" href="https://github.com/Operacon/imikuLive">GitHub 页面</a>
                </h2>
                <h2>
                    网站部署者对站点提供的服务负全部责任
                </h2></p>
                <hr>
                <p><h2 class="subt">账号与身份</h2></p>
                <p><h3>
                    本站部分功能要求身份认证。
                </h3></p>
                <p><h3>
                    您可以在没有账号或不登录的情况下正常观看已有的直播间。
                </h3></p>
                <p><h3>
                    弹幕发送以及开启直播间功能，要求您有账号并登录。
                </h3></p>
                <p><h3>
                    本站开放使用电子邮箱注册，但禁止使用临时邮箱注册。
                </h3></p>
                <p><h3>
                    您每次登录的 ip 地址将被记录。
                </h3></p>
                <p><h2 class="subt">个人资料和弹幕</h2></p>
                <p><h3>
                    您可自定义您的昵称、头像和个人介绍。
                </h3></p>
                <p><h3>
                    登录后，在每个开放的直播间都可以发送弹幕，对任何人可见。
                </h3></p>
                <p><h3>
                    不文明的个人信息或弹幕可能导致您的账号被封禁或永久删除。
                </h3></p>
                <p><h3>
                    账户所有者对该账户的任何资料和发言负全部责任。
                </h3></p>
                <p><h2 class="subt">直播间</h2></p>
                <p><h3>
                    您可以申请开通自己的直播间。
                </h3></p>
                <p><h3>
                    请根据服务器负载、自身需求和观众数选择合适的带宽。恶意的流量攻击可能导致您的账号被封禁或永久删除。
                </h3></p>
                <p><h3>
                    请勿推流任何不文明或违法内容，并妥善保密您的流密钥。账户所有者对该账户直播间对应流地址发布的任何信息负全部责任。
                </h3></p>
                <hr>
                <p><h2 class="subt">本站仅供学习交流使用，用户对自己发布的一切内容及其所造成的一切影响负全部责任，承担其一切后果。</h2></p>
                <hr>
            </div>
        </div>
    </body>
</html>
